*.log
myenv/
*venv/
*.txt
*saved_images/
*__pycache__*
credentials.py
*.html
warehouse_email.py
*creds.py
*test.py
*tests.py
*.png
*.sql
*.json
*.js
*Wtsp/
*whatsapp_config*
*chrome_config*
d365_connect/
ScriptCodez/